<p>Hi <%= @resource.email %>!</p>

<p>Someone requested a link to change the password. It is possible to do this at the link below.</p>

<p><%= link_to t('change_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you did not, do not pay attention to this letter.</p>
<p>Your password will not change until you click on the link above.</p>
